body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  margin-left: 10%;
}

#errors {
  background: #c00;
  color: #fff;
  display: none;
  margin: -20px -20px 20px;
  padding: 20px;
  white-space: pre-wrap;
}

ol, ul {
  padding-left: 30px;
} 

#game-board {
  /*margin: auto;*/
  margin-bottom: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
  /*overflow: auto;*/
  min-width: 450px;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 35px;
  font-weight: bold;
  line-height: 50px;
  height: 65px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 65px;
}

.active {
  background: #999;
  color: black;
  border: 3px solid #222;
  position: absolute;
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.cpuMove {
  background: yellow;
  color: black;
  border: 3px solid #222;
  position: absolute;
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.pointer {
  cursor: pointer;

}

.pointer:hover {
  background-color: #999;
  color: black;
}

.selected {
  background-color: #80cd92;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  /* testing
  margin: auto;
  */
  display: flex;
  max-width: 480px;
  flex-direction: row;
}

.lineup {
  float:left;
  display: inline-block;
  width: 150px;
  height: auto;
  margin: auto;
}

.card-name {
  margin: auto;
  margin-bottom: 5px;
  text-align: center;
  padding: 2px 2px;
  border: 1px solid black;
  border-radius: 2px;
  width: 130px;
}

.card1 {
  float: left;
  display: inline-block;
  margin: auto;
  margin-right: 1px;
  width: 155px;
  height: auto;
}

.card2 {
  float: right;
  display: inline-block;
  clear: right;
  width: 155px;
  height: auto;
}

.next-card {
  text-align: center;
  float: right;
  display: inline-block;
  clear: right;
  width: auto;
  margin-top: 100px;
}

.lastUsedHeader {
  margin-top: -100px;
}

.last-card {
  text-align: center;
  height: 250px;
  margin-top: -50px;
}

#player-box {
  font: 10px "Century Gothic", Futura, sans-serif;
  width: 410px;
  height: 202px;
}

#status-cards {
  display: inline;
  margin: auto;
  
}

img {
  width: 99%;
  height: auto;
  border: 2px solid black;
}

.upside-down {
  transform: rotate(180deg);
}

.selected-card {
  background-color: #6aeddd;
  padding-top: 3px;
  padding-left: 3px;

  border: 1px solid black;
}

.highlight {
  background-color: red;
  text-align: center;
}


