body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

#errors {
  background: #c00;
  color: #fff;
  display: none;
  margin: -20px -20px 20px;
  padding: 20px;
  white-space: pre-wrap;
}

ol, ul {
  padding-left: 30px;
} 

#game-board {
  /*margin: auto;*/
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
  /*overflow: auto;*/
  min-width: 501px;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.active {
  background: #999;
  color: black;
  border: 3px solid #222;
  position: absolute;
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.pointer {
  cursor: pointer;

}

.pointer:hover {
  background-color: #999;
  color: black;
}

.selected {
  background-color: #80cd92;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin: auto;
  display: flex;
  max-width: 680px;
  flex-direction: row;
}

.next-card {
  margin: auto;
  width: 100px;
}

.selected-card {
  background-color: #6aeddd;
}

.card1 {
  float: left;
  display: inline-block;

  height: 250px;
  width: 250px;

  border: 1px solid black;
}

.card2 {
  float: right;
  clear: right;
  height: 250px;
  width: 250px;

  border: 1px solid black;
}

#player-box {
  font: 10px "Century Gothic", Futura, sans-serif;
  min-width: 501px;
  height: 310px;
  margin: 10px 0px 0px -5px;

  border: 1px solid black;
}

#status-cards {
  display: inline;
  margin-left: 50px;
  margin-top: 100px;
  background-color: blue;
  height: 500px;
  width: 220px;
}


