body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

#errors {
  background: #c00;
  color: #fff;
  display: none;
  margin: -20px -20px 20px;
  padding: 20px;
  white-space: pre-wrap;
}

ol, ul {
  padding-left: 30px;
} 

#game-board {
  /*margin: auto;*/
  margin-bottom: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
  /*overflow: auto;*/
  min-width: 501px;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.active {
  background: #999;
  color: black;
  border: 3px solid #222;
  position: absolute;
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.pointer {
  cursor: pointer;

}

.pointer:hover {
  background-color: #999;
  color: black;
}

.selected {
  background-color: #80cd92;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin: auto;
  display: flex;
  max-width: 480px;
  flex-direction: row;
}

.lineup {
  float:left;
  display: inline-block;
}

.card-name {
  text-align: center;
  margin: 5px 65px;
  border: 1px solid black;
}

.card1 {
  float: left;
  display: inline-block;
  margin: auto;
  margin-right: 1px;
}

.card2 {
  float: right;
  display: inline-block;
  margin: auto;
  clear: right;
}

.next-card {
  text-align: center;
  float: right;
  display: inline-block;
  clear: right;
  margin: auto;
  width: auto;
}

.last-card {
  text-align: center;
  margin-bottom: 50px;
}

#player-box {
  font: 10px "Century Gothic", Futura, sans-serif;
  min-width: 590px;
  height: 302px;
}

#status-cards {
  display: inline;
  margin: auto;
  
}

img {
  width: 55%;
  height: auto;
  border: 2px solid black;
}

.selected-card {
  background-color: #6aeddd;
  padding-top: 3px;
  padding-left: 3px;

  border: 1px solid black;
}

.highlight {
  background-color: red;
  text-align: center;
}


